@import "./base/reset";
@import "./base/container";
@import "./base/fonts";

@import "./utils/mixin";
@import "./utils/colors";
@import "./components/arow-link";
@import "./components/logo";
@import "./components/menu";
@import "./components/carusel-arrow";
@import "./components/title--component";
@import "./section/hero";
@import "./layout/search";

@import "./section/header";
@import "./section/choosing";
@import "./components/rating-component";
@import "./section/gallery";
