.choosing {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $white-color;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 28px;
    align-items: center;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 28px;
    }
  }

  &__item {
    display: grid;
    align-items: stretch;
    @media screen and (min-width: 1024px) {
      height: 180px;
    }
  }

  &__title {
    color: $colors-title-choosing;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  }

  @media screen and (max-width: 767px) {
    &__item {
      margin-bottom: 28px;
    }
  }
}

.choosing__subtitle {
  margin-bottom: 14px;

  color: $colors-title-choosing;
  font-size: 24px;
  line-height: 1.2;
  @media screen and (max-width: 1023px) {
    font-weight: 700;
  }

  @media screen and (min-width: 1024px) {
    font-weight: 600;
  }
}

.choosing__text {
  margin-bottom: 18px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 14px;
  }

  color: $colors-title-choosing;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.85;
}

.choosing__link {
  color: $orange-color;

  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.85;
}

.choosing__icon {
  fill: $orange-color;
  stroke: $orange-color;
  margin-left: 7px;
  width: 48px;
  height: 24px;
}
