.gallery {
  background-color: $background-gallary;
  padding-top: 60px;
  padding-bottom: 40px;

  &__title {
    text-align: center;
  }

  &-filters {
    width: 333px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 66px;
    border-radius: 44px;
    background-color: #e6e6e6;

    @media screen and (min-width: 768px) {
      width: 348px;
    }

    &__button {
      padding: 7px 14.5px;

      border: none;
      background-color: transparent;

      color: $colors-title-choosing;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.85;
      opacity: 0.8;
    }

    &__button--active {
      background-color: $white-color;
      border-radius: 32px;
      font-weight: 500;
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}

/******CARD****/
.products {
  &__item {
    height: 442px;
    overflow-y: visible;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #f5f4fa;
    margin-top: 80px;
  }
  &__trump {
    // outline: 1px solid darkmagenta;
    & > picture {
      height: 239px;
      padding-bottom: 33px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  &__content {
    height: 202.5px;
    padding: 13px 22px 27px;
    background-color: $white-color;
    border-radius: 0 0 20px 20px;
  }

  &__category {
    margin-bottom: 6px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    color: $color-category;
  }

  &__title {
    margin-bottom: 6px;

    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1;
    text-transform: capitalize;
    color: $black-color-gallary;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__prace {
    color: $black-color-gallary;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    align-items: flex-start;
    gap: 3px;

    & span {
      font-size: 15px;
      line-height: 1.5;
    }
  }

  &__basket {
    display: flex;
    padding: 14px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: $black-color-gallary;
  }

  &__svg {
    fill: white;
  }
}
