.gallery {
  background-color: $background-gallary;
  padding-top: 60px;
  padding-bottom: 40px;

  &__title {
    text-align: center;
  }

  &-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 66px;
    border-radius: 44px;
    background-color: #e6e6e6;

    @include mobail-576 {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    &__button {
      padding: 7px 14.5px;

      border: none;
      background-color: transparent;

      color: $colors-title-choosing;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.85;
      opacity: 0.8;
    }

    &__button--active {
      background-color: $white-color;
      border-radius: 32px;
      font-weight: 500;
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}

/******CARD****/
.products {
  position: relative;
  @include mobail-576 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
  }

  @include desktop {
    flex-wrap: nowrap;
  }

  &__item {
    height: 442px;
    margin-top: 80px;
    flex-basis: calc(100% / 2 - 10px);

    @include desktop {
      flex-basis: calc(100% / 4 - 15px);
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    cursor: pointer;
    overflow-y: visible;
    border-radius: 20px;
    background-color: rgba(255, 152, 0, 0.7);
  }

  @include desktop-1024 {
    &__item:hover .products__trump-image {
      transform: scale(1.3);
      transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item .products__trump-image {
      transform: scale(1);
      transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__trump {
    & > picture {
      height: 239px;
      padding-bottom: 33px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  &__content {
    height: 202.5px;
    padding: 13px 22px 27px;
    background-color: $white-color;
    border-radius: 0 0 20px 20px;
  }

  &__category {
    margin-bottom: 6px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    color: $color-category;
  }

  &__title {
    margin-bottom: 6px;

    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1;
    text-transform: capitalize;
    color: $black-color-gallary;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__prace {
    color: $black-color-gallary;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    align-items: flex-start;
    gap: 3px;

    & span {
      font-size: 15px;
      line-height: 1.5;
    }
  }

  &__basket {
    display: flex;
    padding: 14px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: $black-color-gallary;
  }

  &__svg {
    fill: white;
  }

  &__link {
    display: flex;
    align-items: center;
    margin: 60px auto 0;
    font-size: 18px;
    justify-content: center;
    width: fit-content;
  }

  &__arrow-left {
    left: -25px;
  }

  &__arrow-right {
    right: -25px;
  }
}
