.wrapper {
  background-color: $background-wrapper;
  background-image: url(../image/backg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // height: 100vh;
  // max-width: 100%;
  padding-bottom: 50px;
}

.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid wheat;
}
