.wrapper {
  background-image: url(../image/backg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.header {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
