.hero {
  margin-top: 14vh;
  text-align: center;

  &__title {
    color: $white-color;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.28px;
    text-transform: capitalize;

    @media screen and (min-width: 1024px) {
      margin-bottom: 14px;
      font-size: 80px;
      letter-spacing: -0.8px;
    }
  }

  &__text {
    color: $white-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin: 29px 0;

    opacity: 0.5;

    @media screen and (min-width: 736px) {
      width: 606px;
      text-align: center;
      font-size: 24px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
