$white-color: #fff;
$orange-color: #e58411;
$search-background: rgba(255, 255, 255, 0.15);
$search-border-color: rgba(255, 255, 255, 0.6);

$colors-title-choosing: #1e1e1e;
$background-selling-section: #f7f7f7;
$dark-overlay: rgb(59 132 187 / 0.2);
