.link--component {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
  color: $orange-color;

  &::after {
    content: url(../../image/next-link.svg);
    margin-left: 7px;
    line-height: 10px;
  }
}
